---
extends: default

ignore: |
  charts/*/templates/*.yaml
  charts/*/templates/*.tpl
  charts/*/charts/*/templates/*.yaml
  charts/*/charts/*/templates/*.tpl

rules:
  document-start: disable
  line-length:
    max: 120
  truthy:
    allowed-values: ['true', 'false', 'on']
